.fancy-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3b82f6;
    margin-bottom: 20px;
  }
  
  .animated-heading {
    animation: pulse 3s infinite; /* Continuous pulse animation */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  